@if(errorMessage()) {
<div class="alert alert-danger">Error: {{ errorMessage() }}</div>
}
<div class="table-responsive">
  @if(products() && products().length) {
  <table class="table mb-0">
    <thead>
      <tr>
        <th>
          <button
            class="btn btn-outline-primary btn-sm toggle-image"
            (click)="toggleImage()"
          >
            {{ showImage() ? "Hide" : "Show" }} Image
          </button>
        </th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>5 Star Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(product of filteredProducts(); track product){
      <tr>
        <td>
          @if(showImage() && product.imageUrl){
          <img
            [src]="product.imageUrl"
            [title]="product.productName"
            [alt]="product.productName"
            [style.width.px]="imageWidth"
            [style.margin.px]="imageMargin"
          />}
        </td>
        <td>
          <a
            [routerLink]="['/products', product.id]"
            [queryParams]="{ showImage: showImage() }"
          >
            {{ product.productName }}
          </a>
        </td>
        <td>{{ product.productCode }}</td>
        <td>{{ product.releaseDate }}</td>
        <td>{{ product.price | currency : "USD" : "symbol" : "1.2-2" }}</td>
        <td>
          <app-star [starRating]="product.starRating" (starRatingChange)="onratingChange($any($event))"> </app-star>
        </td>
        <td>
          <button
            class="btn btn-outline-primary btn-sm"
            [routerLink]="['/products', product.id, 'edit']"
          >
            Edit
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="7" class="text-center">No Products found</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>

